<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="css/styles.css"/>
 
</head>
<body>
  
    
    <div class="main-content">
      <h1>Weather App</h1>
      <div class="weatherBody">
      <article class="widget">
      
      <form class="weatherLocation">
        <input placeholder="location…" type ="text"/>
      </form>

        <div class="weatherIcon"><i class="clouds"></i></div>
             <div class="weatherInfo">
                <div class="temperature"><span></span></div>
              </div>
              
      </div>
      <div class="description"></div>
                <div class="weatherCondition"></div>
                 <div class="place"></div>
      <div class="date"></div>
      
      </article>
      
      
      </div>
      <script src="js/app.js"></script> <!--absolute path -->